@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsla(245, 75%, 52%, 1);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$width: 100%/12% * 3.75%;
$height: 100%/12% * 9%;

$table-width: 100%/12% * 7%;
$table-height: 100%/12% * 9%;

$mobile-width: 100%/12% * 10.5%;
$mobile-height: 100%/12% * 9.5%;

@mixin transition-ease($thing: all) {
  transition: $thing 0.5s;
}

@mixin text-anim($delay) {
  animation: text-anim 1s ease-in-out $delay both;
}

@keyframes text-anim {
  0% {
    position: relative;
    left: -20px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}

:root {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/pattern-background-desktop.svg"), $pale-blue;
  background-repeat: no-repeat;
  background-size: cover;
}

a,
button {
  cursor: pointer;
  @include transition-ease;
}

@media screen and (max-width: 550px) {
  body {
    background-image: url("./pattern-background-mobile.svg");
  }
}
